
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app header {
    height: 100px;
    background-color: #262626;
}

.app header li {
    list-style: none;
}

.app header li:hover {
    
    background-color: grey;
}

.app header a {
    color: white;
    text-decoration: none;
}

.nav-branding {
    margin: 10px;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    cursor: pointer;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    display: block;
    padding: 30px 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.app section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
}

.app section home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    background: lightseagreen;
}

.app section home div#map {
    flex: 1;
    z-index: 1;
}

.app section help {
    flex-grow: 1;
    padding: 1em;
    background: lightcoral;
}

#dnd {
    height: 70px;
    border-radius: 50px;
    border: 2px dotted #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dnd::before {
    content: "D'n'D here!";
    color: #2e2e2e;
}

.app section about {
    flex-grow: 1;
    padding: 1em;
    background: lightskyblue;
}
.app section rick {
    flex-grow: 1;
    padding: 1em;
    background: lightsalmon;
}

.app section rick div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    position: relative;
    height: 100%;
    width: 100%;

    max-width: 700px;
    max-height: 500px;
}

.app section undetected {
    flex-grow: 1;
    padding: 1em;
    background: lightgreen;
}

.app footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #262626;
    text-decoration: none;
}

.palette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.change { 
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

button.change:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    color: white;
    cursor: pointer;
  }

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 84px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item {
        margin:16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}